{% extends "layout.html" %}

{% block topnav %}
	{% if not session.logged_in %}	
		<ul class="userNav">						
			<li><a href="signup.html" title="signup" class="signup"></a></li>
			<li><a href="login.html" title="login" class="login"></a></li>			
			<li class="showTabletP"><a href="#" title="" class="sidebar"></a></li>
		</ul>		
	{% else %}
		<ul class="userNav">
			<li><a title="" class="search"></a></li>
			<li><a href="#" title="" class="settings"></a></li>
			<li><a href="{{ url_for('logout') }}" title="logout" class="logout"></a></li>
			<li class="showTabletP"><a href="#" title="" class="sidebar"></a></li>
		</ul>
		<a title="" class="iButton"></a>
		<a title="" class="iTop"></a>
		<div class="topSearch">
			<div class="topDropArrow"></div>
			<form action="">
				<input type="text" placeholder="search..." name="topSearch" />
				<input type="submit" value="" />
			</form>
		</div>		
	{% endif %}
{% endblock %}

{% block topaltmenu %}
<ul class="altMenu">
	<li><a href="index.html" title="">Dashboard</a></li>
	<li><a href="ui.html" title="" class="exp" id="current">UI elements</a></li>
	<li><a href="forms.html" title="" class="exp">Forms stuff</a></li>
	<li><a href="messages.html" title="">Messages</a></li>
	<li><a href="statistics.html" title="">Statistics</a></li>
	<li><a href="tables.html" title="" class="exp">Tables</a></li>
	<li><a href="other_calendar.html" title="" class="exp">Other pages</a></li>
</ul>
{% endblock %}

{% block user %}
<a title="" class="leftUserDrop"><img src="{{ user.image }}" alt="" /><span><strong>3</strong></span></a><span>{{ user.name }}</span>
{% endblock %}

{% block mainnav %}
{%if user.role == 'jobseeker' %}
<ul class="nav">
        <li><a href="#" title="" class="active"><img src="/static/images/icons/mainnav/dashboard.png" alt="" /><span>Dashboard</span></a></li>
        <li><a href={{ "#skillbank/"+ user.username}} title=""><img src="/static/images/icons/mainnav/tables.png" alt="" /><span>Skill Bank</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/forms.png" alt="" /><span>Pitch</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/messages.png" alt="" /><span>Messages</span></a></li>
</ul>
{% endif %}>
{%if user.role == 'curator' %}
<ul class="nav">
        <li><a href="index.html" title="" class="active"><img src="/static/images/icons/mainnav/dashboard.png" alt="" /><span>Dashboard</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/ui.png" alt="" /><span>Leads</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/forms.png" alt="" /><span>Pavilions</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/messages.png" alt="" /><span>Messages</span></a></li>
</ul>
{% endif %}
{% if user.role == 'poster'%}
<ul class="nav">
        <li><a href="index.html" title="" class="active"><img src="/static/images/icons/mainnav/dashboard.png" alt="" /><span>Dashboard</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/forms.png" alt="" /><span>New Post</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/ui.png" alt="" /><span>Pitches</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/messages.png" alt="" /><span>Messages</span></a></li>
</ul>
{% endif%}

{% endblock %}

{% block altnav %}
<div class="userSearch">
	<form action="">
		<input type="text" placeholder="search..." name="userSearch" />
		<input type="submit" value="" />
	</form>
</div>

<!-- User nav -->
<ul class="userNav">
	<li><a href="#" title="" class="profile"></a></li>
	<li><a href="#" title="" class="messages"></a></li>
	<li><a href="#" title="" class="settings"></a></li>
	<li><a href="#" title="" class="logout"></a></li>
</ul>
{% endblock %}

{% block content %}
<div id="contentTopId" class="contentTop">       
</div>          
<!-- Main content -->
<div id='testdiv' class="wrapper">
</div>
<!-- Main content ends -->
<script type="text/template" id="search_template">
        <h1>Skill Bank For: <%= username%></h1>
</script>
{% endblock %}
