{% extends "layout.html" %}

{% block topnav %}
	{% if not session.logged_in %}	
		<ul class="userNav">						
			<li><a href="signup.html" title="signup" class="signup"></a></li>
			<li><a href="login.html" title="login" class="login"></a></li>			
			<li class="showTabletP"><a href="#" title="" class="sidebar"></a></li>
		</ul>		
	{% else %}
		<ul class="userNav">
			<li><a title="" class="search"></a></li>
			<li><a href="#" title="" class="settings"></a></li>
			<li><a href="{{ url_for('logout') }}" title="logout" class="logout"></a></li>
			<li class="showTabletP"><a href="#" title="" class="sidebar"></a></li>
		</ul>
		<a title="" class="iButton"></a>
		<a title="" class="iTop"></a>
		<div class="topSearch">
			<div class="topDropArrow"></div>
			<form action="">
				<input type="text" placeholder="search..." name="topSearch" />
				<input type="submit" value="" />
			</form>
		</div>		
	{% endif %}
{% endblock %}

{% block topaltmenu %}
<ul class="altMenu">
	<li><a href="index.html" title="">Dashboard</a></li>
	<li><a href="ui.html" title="" class="exp" id="current">UI elements</a>
		<ul>
			<li><a href="ui.html">General elements</a></li>
			<li><a href="ui_icons.html">Icons</a></li>
			<li><a href="ui_buttons.html">Button sets</a></li>
			<li><a href="ui_grid.html" class="active">Grid</a></li>
			<li><a href="ui_custom.html">Custom elements</a></li>
			<li><a href="ui_experimental.html">Experimental</a></li>
		</ul>
	</li>
	<li><a href="forms.html" title="" class="exp">Forms stuff</a>
		<ul>
			<li><a href="forms.html">Inputs &amp; elements</a></li>
			<li><a href="form_validation.html">Validation</a></li>
			<li><a href="form_editor.html">File uploads &amp; editor</a></li>
			<li><a href="form_wizards.html">Form wizards</a></li>
		</ul>
	</li>
	<li><a href="messages.html" title="">Messages</a></li>
	<li><a href="statistics.html" title="">Statistics</a></li>
	<li><a href="tables.html" title="" class="exp">Tables</a>
		<ul>
			<li><a href="tables.html">Standard tables</a></li>
			<li><a href="tables_dynamic.html">Dynamic tables</a></li>
			<li><a href="tables_control.html">Tables with control</a></li>
			<li><a href="tables_sortable.html">Sortable &amp; resizable</a></li>
		</ul>
	</li>
	<li><a href="other_calendar.html" title="" class="exp">Other pages</a>
		<ul>
			<li><a href="other_calendar.html">Calendar</a></li>
			<li><a href="other_gallery.html">/static/images gallery</a></li>
			<li><a href="other_file_manager.html">File manager</a></li>
			<li><a href="other_404.html">Sample error page</a></li>
			<li><a href="other_typography.html">Typography</a></li>
		</ul>
	</li>
</ul>
{% endblock %}

{% block user %}
<a title="" class="leftUserDrop"><img src="{{ user.image }}" alt="" /><span><strong>3</strong></span></a><span>{{ user.name }}</span>
{% endblock %}


{% block mainnav %}
{%if user.role == 'jobseeker' %}
<ul class="nav">
        <li><a href="index.html" title="" class="active"><img src="/static/images/icons/mainnav/dashboard.png" alt="" /><span>Dashboard</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/tables.png" alt="" /><span>Skill Bank</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/forms.png" alt="" /><span>Pitch</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/messages.png" alt="" /><span>Messages</span></a></li>
</ul>
{% endif %}>
{%if user.role == 'curator' %}
<ul class="nav">
        <li><a href="index.html" title="" class="active"><img src="/static/images/icons/mainnav/dashboard.png" alt="" /><span>Dashboard</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/ui.png" alt="" /><span>Leads</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/forms.png" alt="" /><span>Pavilions</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/messages.png" alt="" /><span>Messages</span></a></li>
</ul>
{% endif %}
{% if user.role == 'poster'%}
<ul class="nav">
        <li><a href="index.html" title="" class="active"><img src="/static/images/icons/mainnav/dashboard.png" alt="" /><span>Dashboard</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/forms.png" alt="" /><span>New Post</span></a></li>
        <li><a href="ui.html" title=""><img src="/static/images/icons/mainnav/ui.png" alt="" /><span>Pitches</span></a></li>
        <li><a href="forms.html" title=""><img src="/static/images/icons/mainnav/messages.png" alt="" /><span>Messages</span></a></li>
</ul>
{% endif%}

{% endblock %}

{% block altnav %}
<div class="userSearch">
	<form action="">
		<input type="text" placeholder="search..." name="userSearch" />
		<input type="submit" value="" />
	</form>
</div>

<!-- User nav -->
<ul class="userNav">
	<li><a href="#" title="" class="profile"></a></li>
	<li><a href="#" title="" class="messages"></a></li>
	<li><a href="#" title="" class="settings"></a></li>
	<li><a href="#" title="" class="logout"></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="contentTop">       
</div>          
<!-- Main content -->
<div class="wrapper">
</div>
<!-- Main content ends -->
{% endblock %}
