{% extends "login-layout.html" %}
{% block loginform %}
<form action="{{ url_for('login') }}" id="login" method=post>
	<div class="loginPic">
		<!--a href="#" title=""><img src="images/userLogin.png" alt="" /></a-->		
		<div class="loginActions">
			<div><a href="#" title="Change user" class="logleft flip"></a></div>
			<div><a href="#" title="Forgot password?" class="logright"></a></div>
		</div>
	</div>
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}	
	<input type="text" name="username" placeholder="Confirm your email" class="loginEmail" />
	<input type="password" name="password" placeholder="Password" class="loginPassword" />
	
	<div class="logControl">
		<div class="memory"><input type="checkbox" checked="checked" class="check" id="remember1" /><label for="remember1">Remember me</label></div>
		<input type="submit" name="submit" value="login" class="buttonM bBlue" />
		<div class="clear"></div>
	</div>
	<a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=3ntk7givavqe&state=06031983&redirect_uri=http://127.0.0.1:5000/lnauth" title="">LinkedIn Auth</a>

</form>
{% endblock %}
